:root {
  --navbar-height: 3.25em;
  --dark-primary: #0d052b;
  --light-text: #eba702;
  --light-link: #b0c4de;
  --light-link-visited: #a8a9ad;
}

/* Generic Minimal Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  /* box-sizing does not inherit by default, make it so that it does. */
  box-sizing: inherit;
}

html {
  /* Set border-box on root element (children will inherit). Elements needing content-box will have to override. */
  box-sizing: border-box;
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--dark-primary);
  color: var(--light-text);
}

a:link,
a:hover,
a:active {
  color: var(--light-link);
}
a:visited {
  color: var(--light-link-visited);
}

h1,
h2 {
  font-family: "Prompt", sans-serif;
}

main {
  margin-top: calc(-1 * var(--navbar-height));
}

section {
  padding: var(--navbar-height) 0;
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--dark-primary),
    35%,
    #4b0908,
    #6a0c0b,
    var(--dark-primary),
    var(--dark-primary)
  );
}

/* START COMPONENT NAVIGATION */

.c-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: var(--navbar-height);
  padding: 0 1em;
  z-index: 10;
  background-color: var(--dark-primary);
}

.c-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
}

.c-nav__list-item {
  list-style: none;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  padding-left: 1em;
  display: flex;
  align-items: center;
  height: 100%;
}

.c-nav__link {
  text-decoration: none;
  color: var(--light-text);
}

.c-nav__link:link,
.c-nav__link:visited,
.c-nav__link:hover,
.c-nav__link:active {
  color: var(--light-text);
}

/* END COMPONENT NAVIGATION */

/* START COMPONENT WELCOME SECTION */

.c-welcome-section {
  padding: var(--navbar-height) 0;
  height: 100vh;
}

.c-welcome-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto 1.5em;
}

.c-welcome-card__title {
  font-family: "Prompt", sans-serif;
  text-shadow: 2px 2px 1px var(--dark-primary);
}
.c-welcome-card__primary-info {
  margin: 1em 0 0 0;
}
.c-welcome-card__primary-info--standout {
  text-shadow: 2px 2px 1px var(--dark-primary);
}
.c-welcome-card__secondary-info {
  margin: 1em 0 0 0;
}

/* END COMPONENT WELCOME SECTION */

.c-project-tile__image {
  max-width: 100%;
  height: auto;
}
