:root {
  --navbar-height: 3.25em;
  --dark-primary: #0d052b;
  --light-text: #fff;
}

/* Generic Minimal Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

section {
  padding-top: var(--navbar-height);
}

#navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: var(--navbar-height);
  padding: 0 1em;
  z-index: 10;
  background-color: var(--dark-primary);
}

#navbar > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
}

#navbar > ul li {
  list-style: none;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  padding-left: 1em;
  display: flex;
  align-items: center;
  height: 100%;
}

.navlink {
  text-decoration: none;
  color: var(--light-text);
}

.navlink:link,
.navlink:visited,
.navlink:hover,
.navlink:active {
  color: var(--light-text);
}

#welcome-section {
  height: 100vh;
  position: relative;
  top: -3.25em;
}

#projects {
  height: 100vh;
}

#contact {
  height: 100vh;
}
