:root {
  --navbar-height: 3.25em;
  --dark-primary: #0d052b;
  --light-text: #eba702;
  --light-link: #b0c4de;
  --light-link-visited: #a8a9ad;
}

/* Generic Minimal Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  /* box-sizing does not inherit by default, make it so that it does. */
  box-sizing: inherit;
}

html {
  /* Set border-box on root element (children will inherit). Elements needing content-box will have to override. */
  box-sizing: border-box;
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--dark-primary);
  color: var(--light-text);
}

a:link,
a:hover,
a:active {
  color: var(--light-link);
}
a:visited {
  color: var(--light-link-visited);
}

h1,
h2 {
  font-family: "Prompt", sans-serif;
}

main {
  margin-top: calc(-1 * var(--navbar-height));
}

section {
  padding: var(--navbar-height) 0;
  min-height: calc(100vh - var(--navbar-height));
}
.welcome-card {
  margin: auto 1.5em;
}

.c-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: var(--navbar-height);
  padding: 0 1em;
  z-index: 10;
  background-color: var(--dark-primary);
}

.c-nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
}

.c-nav__list-item {
  list-style: none;
  text-transform: uppercase;
  font-family: "Prompt", sans-serif;
  padding-left: 1em;
  display: flex;
  align-items: center;
  height: 100%;
}

.c-nav__link {
  text-decoration: none;
  color: var(--light-text);
}

.c-nav__link:link,
.c-nav__link:visited,
.c-nav__link:hover,
.c-nav__link:active {
  color: var(--light-text);
}

#projects {
  height: 100vh;
}

#contact {
  height: 100vh;
}
